@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');
body {
    font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


table,
th,
tr,
td{
border: 2px black solid;
border-collapse: collapse;
margin: 25px;
}

.navbar{
    background-color: #706D54;
    overflow: hidden;
}
.navbar a{
    text-decoration: none;
    color: #DBDBDB;
    text-align: center;
    display: block;
    padding: 12px 12px;
    position: relative;
    float: left;
}
.navbar a:hover {
    color: #A08963;
    background-color: #C9B194;
}
.footer {
    background-color: #706D54;
    margin-top: -0%;
    clear: both;
    position: relative;
    padding: 20px 20px;
    text-align: center;
    
}
.layout{
    display: flex;
    justify-content: center;
    background-color: red;
}

.layout > div{
    background-color: yellow;
    padding: 10px;
    margin: 10px;
    text-align: justify;
    align-items: center;

 }